* {
    box-sizing: border-box;
}
::selection {
    background: #38AB34;
    color: #fff;
}
::-moz-selection {
    background: #38AB34;
    color: #fff;
}
body {
    min-width: 320px;
    color: #666666;
}
body, html {
    background-color: #f4f5f6;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;

}
textarea, input, button { outline: none; }
small {
    font-size: 0.7em;
    display: block;
}
/* Buttons :: start */
.btn {
    border-radius: 5px;
    padding: 10px 10px;
    color: #fff;
    border: 0px;
    cursor: pointer;
    position: relative;

    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;

}
.btn.primary {
    background-color: #38AB34;
}
.btn.primary:hover {
    background-color: #42c33e;
}
.btn.secondary {
    background-color: #D72423;
}

/* Buttons :: end */

.inner-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

/* settings :: start */

button.delete {
    height: 30px;
    width: 40px;
    position: absolute;
    display: block;
    text-align: center;
    right: 5px;
    top: 50%;
    margin-top: -15px;
    cursor: pointer;
    text-align: center;
    border: 0px;
    padding: 0px;
    border-left: 1px solid #EEEEEE;
    background-color: transparent;
}

button.delete:hover:after {
    color: #D72423;
}
button.delete:after {
    
    content: "\f1f8";
    font-family: 'FontAwesome';
    display: inline-block;
    text-align: center;
    font-size: 16px;
    color: #E6E6E6;
    line-height: 30px;

    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;

}

/* Todo-form :: start */
div.todoapp {
    max-width: 480px;
    margin: 0 auto;
    padding: 10px 15px;
}
/* Todo-form :: end */

/* Todo-form :: start */
form#todo-form {
    width: 100%;
    overflow: hidden;
    font-size: 16px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #EEEEEE;
    position: relative;
}

form#todo-form input, form#todo-form button {
    float: left;
    font-size: inherit;
}
form#todo-form input {
    background-color: #FFF;
    border: 0px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1) inset;
    padding: 10px 10px;
    width: 70%;
    border-radius: 5px;
}
form#todo-form button {
    width: 30%;
}
@media screen AND (min-width: 480px) {
    form#todo-form input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;    
    }
    form#todo-form button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }   
}

@media screen AND (max-width: 480px) {
    form#todo-form input {
        width: 100%;
    }
    form#todo-form button {
        margin-top: 10px;
        width: 100%;
    }
}

/* Todo-form :: end */

/* Todo-items :: start */
.todoapp-items ul {
    width: 100%;
    display: block;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.todoapp-items ul li {
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    padding: 10px 50px;
    position: relative;
}
.todoapp-items ul li + li {
    margin-top: 10px;
}
li.todoapp-item span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.todoapp-items ul li input[type=checkbox] {
    position: absolute;
    left: -99999px;
}
.todoapp-items ul li label.todo {
    position: absolute;
    width: 40px;
    height: 30px;
    cursor: pointer;
    display: block;
    left: 0px;
    top: 50%;
    margin-top: -15px;
    text-align: center;
    border-right: 1px solid #EEEEEE;
}
.todoapp-items ul li label.todo:before {
 
    content: '';
    width: 20px;
    height: 20px;
    background-color: #EEE;
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.1) inset;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
}

.todoapp-items ul li label.todo:after {    
    content: "\f00c";
    color: #E6E6E6;
    font-family: 'FontAwesome';
    font-size: 12px;
    text-align: center;
    line-height: 30px;

    display: inline-block;
    position: relative;
    z-index: 1;

    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;

}

li.todoapp-item label.todo:hover:after {
    color: #666;
}
li.todoapp-item input[type=checkbox]:checked ~ span {
   text-decoration: line-through; 
}
li.todoapp-item input[type=checkbox]:checked + label.todo:after {
    color: #38AB34;
}

/* Todo-items :: end */

/* Todo-counter :: start */

.todo-counter .inner {
    border-top: 1px solid #EEEEEE;
    margin-top: 10px;
    font-size: 14px;
    padding: 10px 15px;
}
/* Todo-counter :: end */


.loading-container {
    color: #38AB34;
    text-align: center;
    font-size: 16px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 2;
    background-color: rgba(247, 249, 250, 0.8);
}
.loading-container i {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
}